---
import Layout from "../layouts/Layout.astro";
import MqttDataTable from "../components/MqttDataTable.vue";
---

<Layout title="naschi.at – Hühnerstall">
  <h1>Hühnerstall</h1>
  <MqttDataTable client:idle />
</Layout>
