---
import Layout from "../layouts/Layout.astro";
---

<script>
  import mqtt from "mqtt";
  import { formatTime, isExceeded } from "../util/formatDate";
  const client = mqtt.connect("wss://naschi.at:8081");
  client.on("connect", () => {
    client.subscribe("huehnerstall/temperature", (err) => {
      if (!err) console.log("Subscribed to huehnerstall/temperature");
    });
  });

  client.on("message", (_topic, message) => {
    const data = JSON.parse(message.toString());
    document.getElementById("huehnerstall/temperature:timestamp").innerHTML =
      formatTime(new Date(data["timestamp"]));
    document.getElementById("huehnerstall/temperature:value").innerHTML =
      data["value"] + " °C";
    document.getElementById("huehnerstall/temperature:badge").classList =
      "badge " +
      (isExceeded(new Date(data["timestamp"]), 3000) ? "up" : "down");
  });
</script>

<Layout title="naschi.at – Hühnerstall">
  <h1>Hühnerstall</h1>
  <p>
    <table>
      <tr>
        <th>Topic</th>
        <th>Zeit</th>
        <th>Wert</th>
      </tr>
      <tr>
        <td
          ><span id="huehnerstall/temperature:topic"
            >huehnerstall/temperature</span
          ></td
        >
        <td><span id="huehnerstall/temperature:timestamp">–</span></td>
        <td
          ><span id="huehnerstall/temperature:value">–</span>
          <span id="huehnerstall/temperature:badge"></span></td
        >
      </tr>
    </table>
  </p>
</Layout>

<style>
  .badge {
    height: 12px;
    width: 12px;
    padding: 1px;
    margin-left: 5px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
  }

  .up {
    background-color: rgb(101, 243, 101);
  }

  .down {
    background-color: rgb(243, 101, 101);
  }

  table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #ddd;
    padding: 8px;
    vertical-align: middle;
  }

  tr:nth-child(even) {
    background-color: #e3e3e3;
    color: rgb(35, 31, 31);
  }

  tr:hover {
    background-color: #a8a8a8;
  }

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2865a2;
    color: rgb(240, 240, 240);
  }
</style>
