---
import Layout from "../layouts/Layout.astro";
import ImageGallery from "../components/ImageGallery.vue";
---

<Layout title="naschi.at – Vermietung">
  <h1>Vermietung</h1>
  <ImageGallery />
</Layout>
